.card {
  position: relative;
  width: 356px;
  height: 440px;
  left: 0px;
  top: -97px;
  background: #ffffff;
  border-radius: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_header {
  width: 320px;
  height: 90px;
  text-align: center;

  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 200; */
  font-size: 34px;
  line-height: 121.74%;
  /* or 49px */

  letter-spacing: -0.025em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card_image{
  width: 356px;
  height: 240px;

  overflow: hidden; /* Hide any overflow */
}

.card_image > img {
  position: relative;
  
  /* left: 0px; */
  /* top: 0px; */

  width: 100%; /*Set the width of the image to 100% */
  /* height: 100%;  Set the height of the image to 100% */

  object-fit: contain; /* Preserve aspect ratio while fitting the image within the container */
  object-position: center; 

  border-radius: 20px;
}

.subtext_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card_subtext {
  display: block;
  height: 29px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 121.74%;

  margin-left: 17px;

  letter-spacing: -0.025em;

  color: #6f6f6f;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.card_rv {
  display: flex;
  text-align: right;
  align-items: bottom;
  justify-content: right;
}

.card_link{
  margin-top: 18px;
}

.card_link > a {
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 121.74%;
  /* or 24px */

  letter-spacing: -0.025em;

  color: #d01818;

  /* Inside auto layout */

  flex: none;
  order: 1;
  margin-right: 19px;
  flex-grow: 0;
}
